<!DOCTYPE html>
<html>
    <head>
        <title>Responsive Page</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <style>
            @media(min-width: 500px){
                body{
                    background-color: aqua;
                }
                #para{
                    display: none;
                }
            }
            @media(max-width: 499px){
                body{
                    background-color: blue;
                }
            }
            
        </style>
    </head>
    <body>
        <h1>Welcome to my page</h1>
        <p id=para>Hyper Text Markup Language</p>
    </body>
</html>